#kaocha/v1
    {:tests                              [{:id         :unit
                                           :source-paths ["src"]
                                           :test-paths ["src/test"]}]
     :fail-fast?                         false
     :color?                             true
     :reporter                           [kaocha.report/dots]
     :watch?                             true
     :kaocha/plugins                     [:kaocha.plugin/randomize
                                          :kaocha.plugin/filter
                                          :kaocha.plugin/capture-output
                                          :kaocha.plugin/profiling
                                          :noyoda.plugin/swap-actual-and-expected]
     :kaocha.plugin.randomize/seed       950716166
     :kaocha.plugin.randomize/randomize? true
     :kaocha.plugin.profiling/count      3
     :kaocha.plugin.profiling/profiling? true}